<div>
    <button class="delete-comment" color="primary" mat-flat-button type="submit" (click)="addReaction(0)">Like</button>
    <button class="delete-comment" color="primary" mat-flat-button type="submit" (click)="addReaction(1)">Love</button>
    <button class="delete-comment" color="primary" mat-flat-button type="submit" (click)="addReaction(2)">Haha</button>
    <button class="delete-comment" color="primary" mat-flat-button type="submit" (click)="addReaction(3)">Wow</button>
    <button class="delete-comment" color="primary" mat-flat-button type="submit" (click)="addReaction(4)">Sad</button>
    <button class="delete-comment" color="primary" mat-flat-button type="submit" (click)="addReaction(5)">Angry</button>
</div>