<div class="popover">
  <button *ngIf="!publication.reactions.user"
          class="btn add-button"
          mat-button
          (click)="addReaction(0)">
    {{reactionsService.asIcon(ReactionType.Like)}}
    {{reactionsService.asText(ReactionType.Like)}}
  </button>
  <button *ngIf="!!publication.reactions.user"
          class="btn"
          mat-button
          (click)="deleteReaction()">
    {{reactionsService.asIcon(publication.reactions.user.type)}}
    {{reactionsService.asText(publication.reactions.user.type)}}
  </button>
  <div class="reactions-div">
      <button *ngFor="let reaction of reactionsService.all" (click)="addReaction(reaction)">
        <mat-icon>{{reactionsService.asIcon(reaction)}}</mat-icon>
      </button>
  </div>
</div>
