<div>
    <div class="reactions-div" [class.mat-elevation-z2]="true"  [hidden]="hide" (mouseleave)="hidden()">
        <mat-card>
            <button class="btn" *ngFor="let ar of availableReactions" type="submit" (click)="addReaction(ar.index)">
                <span>
                  <img class="img-reaction" src="{{ ar.url }}" />
                </span>
            </button>
        </mat-card>
    </div>
    <button mat-stroked-button (click)="addReaction(0)" (mouseenter)="hidden()">
      <img class="img-reaction-btn" src="{{ userReaction }}">
    </button>
</div>
