<div class="reactions" *ngIf="!!publication.reactions.totalCount">
  <div class="reactions-images">
    <img *ngFor="let reactions of displayedReactions" [src]="reactions">
  </div>
  <span><strong>Total reactions</strong>: {{publication.reactions.totalCount}}</span>
</div>
<span *ngIf="!!publication.reactions.totalCount && publication.comments.totalCount" class="separator">|</span>
<span *ngIf="publication.comments.totalCount">{{publication.comments.totalCount}} comment<span *ngIf="publication.comments.totalCount != 1">s</span></span>
