:host {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

  .reactions, .reactions-images {
    display: flex;
    align-items: center;
  }

  .reactions-images {
    margin-right: 5px;
  }
}
