<mat-card *ngIf="user" class="user-card">
  <mat-card-header>
    <div mat-card-avatar
         class="avatar"
         style="background-image: url({{DefaultAvatar}})"></div>
    <span id="user-name">{{user.firstName}} {{user.lastName}}</span>
    <button id="profile-edit" *ngIf="editable" mat-icon-button>
      <mat-icon id="icon-edit" [inline]="true" (click)="setupInfo()">edit</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="user-action">
      <button class="action-button" [disabled]="true" mat-stroked-button color="primary">Send message</button>
      <button class="action-button" *ngIf="!editable && (!isFriend && !isMySubscription)" mat-stroked-button color="primary" (click)="addFriend()">Add friend</button>
      <button class="action-button" *ngIf="!editable && isFriend" mat-flat-button color="primary">Your friend</button>
    </div>
    <div class="user-list">
      <app-profiles-list
        [label]="'Friends'"  
        [(users)]="friends">
      </app-profiles-list>
      <br>
      <app-profiles-list
        [label]="'Followers'"  
        [(users)]="followers">
      </app-profiles-list>
      <br>
      <app-profiles-list
        [label]="'Outgoing requests'"  
        [(users)]="outgoingRequests">
      </app-profiles-list>
      <br>
      <app-profiles-list
        [label]="'Incoming requests'"  
        [(users)]="incomingRequest">
      </app-profiles-list>
    </div>
  </mat-card-content>
</mat-card>
<div class="news-feed">
  <app-news-list [news]="news" [user]="user" (onEdited)="onEdited($event)" (onDeleted)="onDeleted($event)"></app-news-list>
  <button *ngIf="hasMore && !showLoader" mat-button class="load-more" (click)="loadMore()">Load more</button>
  <mat-spinner style="margin:0 auto;" *ngIf="showLoader"></mat-spinner>
</div>
