.mat-card-avatar {
  width: auto;
  height: auto;
}

.user-card {
  max-width: 560px;
  margin: 15px auto 0 auto;
}

.user-action {
  display: flex;
  align-items: center;
  flex-direction: column;

  .action-button {
    width: 15rem;
    margin-bottom: 5px;
  }
}

.news-feed {
  max-width: 560px;
  margin: 15px auto 0 auto;

  .news-form-wrapper {
    margin: 0 0 15px 0;
  }
}
