<mat-card *ngIf="user" class="user-card">
  <mat-card-header>
    <div mat-card-avatar
         class="avatar"
         style="background-image: url({{DefaultAvatar}})"></div>
    <mat-card-title>
      <span>{{user.firstName}} {{user.lastName}}</span>
      <button mat-icon-button><mat-icon [inline]="true" (click)="setupInfo()">edit</mat-icon></button>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<div class="news-feed">
<!--  <div class="news-form">-->
<!--    <app-news-form (published)="onPublished($event)"></app-news-form>-->
<!--  </div>-->
  <app-news-list [news]="news" [user]="user" (onDeleted)="onDeleted($event)"></app-news-list>
  <button *ngIf="hasMore && !showLoader" mat-button class="load-more" (click)="loadMore()">Load more</button>
  <mat-spinner style="margin:0 auto;" *ngIf="showLoader"></mat-spinner>
</div>
