.user-card {
  max-width: 560px;
  margin: 15px auto 0 auto;

  .avatar {
    background-size: cover;
  }
}

.add-friend {
  padding-top: 3%;
  padding-bottom: 3%;
}

.news-feed {
  max-width: 560px;
  margin: 15px auto 0 auto;
}
