<div class="comment-container">
	<div class="content-section content" *ngIf="!isEditNow">{{comment.content}}</div>
	<form class="content-section" *ngIf="isEditNow" [formGroup]="form" (ngSubmit)="editSubmitted()">
			<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Edit your comment</mat-label>
			<input formControlName="content" matInput>
			</mat-form-field>
			<button type="submit" *ngIf="currentUser?.sub === comment.authorId"
							mat-icon-button (click)="editSubmitted()" color="primary">
			Submit
			</button>
	</form>
	<div>
		<button [disabled]="currentUser?.sub !== comment.author.id && !timeLimitChecker.isCommentEnabledToEdit(comment)"
						mat-icon-button (click)="editComment()">
		<mat-icon>edit</mat-icon>
		</button>
		<button [disabled]="currentUser?.sub !== comment.author.id"
						mat-icon-button (click)="deleteComment()">
		<mat-icon>delete</mat-icon>
		</button>
	</div>
</div>