h3 {
  cursor: pointer;
  margin: 0 0 5px 0;
}

.avatars-list a {
  position: relative;
  border: 2px solid #5a68ba;
  border-radius: 50%;
}

.label {
  cursor: default;
  color: black;
}

a.label {
  cursor: pointer;
  text-decoration: none;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}

.avatars-list {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: hidden;
}
