:host {
  display: flex;
  align-items: center;
}

div {
  border-radius: 50%;
  background-size: cover;
  background-color: white;
}

.sm {
  height: 2.5rem;
  width: 2.5rem;
}

.md {
  height: 4.5rem;
  width: 4.5rem;
}

.lg {
  height: 80px;
  width: 80px;
}
