<mat-card class="publication-card">
  <mat-card-header>
    <div mat-card-avatar
         class="avatar"
         style="background-image: url({{publication.author.avatarUrl || DefaultAvatar}})"></div>
    <mat-card-title>{{publication.author.fullName}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{publication.content}}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <app-publication-totals [publication]="publication"></app-publication-totals>
  <mat-divider></mat-divider>
  <app-publication-actions [publication]="publication"></app-publication-actions>
  <mat-divider></mat-divider>
</mat-card>
