<mat-card class="publication-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>*Author Name</mat-card-title>
    <mat-card-subtitle>*Company maybe</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{publication.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
  </mat-card-actions>
</mat-card>

<mat-card class="comments-card">
  <mat-card-content>
    <p *ngFor="let comment of publication.comments.topComments">
      {{comment.content}}
    </p>
    <p>{{publication.comments.totalCount}}</p>
  </mat-card-content>
  <form class="comments-form" [formGroup]="form" (ngSubmit)="formSubmitted()">
    <mat-form-field class="comments-form-input" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <input matInput formControlName="content">
    </mat-form-field>
    <button class="comment-button" type="submit" mat-flat-button color="primary">Send</button>
  </form>
</mat-card>
