.publication-card {
  max-width: 600px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.comments-card {
  max-width: 600px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.comment-button {
  margin-left: 0%;
}

.comments-form {
  width: 100%;
}

.comments-form-input {
  width: 100%;
}