.list-wrapper {
  max-width: 750px;
  margin: 15px auto 0 auto;

  app-avatar {
    margin: 15px 15px 15px 0;
  }

  .fullName {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
  }
}
