:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: 550px;

  button {
    flex-grow: 1;
  }
}

.comments {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}
