<app-news-form-comments [publication]="publication" (published)="loadAllComments()"></app-news-form-comments>
<mat-card-content *ngIf="publication.comments">
  <div class="comments" *ngFor="let comment of publication.comments.topComments">
    {{comment.content}}
    <div class="delete-comment">
      <button *ngIf="currentUser?.sub === comment.authorId"
              mat-icon-button (click)="deleteComment(comment)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <footer class="footer">
    <button color="primary" mat-flat-button type="submit" *ngIf="isShown" (click)="loadComments()">Load more</button>
  </footer>
</mat-card-content>
