html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
  
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f53662;
  
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #f53662;
}