<mat-card class="publication-card">
  <mat-card-header>
    <div mat-card-avatar
         class="avatar"
         style="background-image: url({{publication.author.avatarUrl || DefaultAvatar}})"></div>
    <mat-card-title>
      <a class="link" [routerLink]="['/', publication.author.id]">{{publication.author.fullName}}</a>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <div class="postMenu">
      <button *ngIf="isCurrentUserPost" mat-icon-button (click)="deleteClick()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{publication.content}}</p>
  </mat-card-content>
  <mat-divider *ngIf="!!publication.reactions.totalCount || !!publication.comments.totalCount"></mat-divider>
  <app-publication-totals *ngIf="!!publication.reactions.totalCount || !!publication.comments.totalCount" [publication]="publication"></app-publication-totals>
  <mat-divider></mat-divider>
  <app-publication-actions [publication]="publication"></app-publication-actions>
  <mat-divider></mat-divider>
</mat-card>
