.avatar {
  background-size: cover;
}

.link {
  color: rgba(0,0,0,.87);
  text-decoration: none;
}

.postMenu {
  margin-left: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.content {
  padding-top: 0.8rem;
  font-size: 13pt;
}

.user-name {
  padding-top: 0.62rem;
}

.publication-card.mat-card {
  padding: 16px 16px 0 16px;
}
